.ds-button-group {
  display: flex;
}

/* Orientation */
.ds-button-group--horizontal {
  flex-direction: row;
}

.ds-button-group--vertical {
  flex-direction: column;
}

/* Alignement */
.ds-button-group--align-start {
  align-items: flex-start;
}

.ds-button-group--align-center {
  align-items: center;
}

.ds-button-group--align-end {
  align-items: flex-end;
}

.ds-button-group--align-stretch .ds-button-group__item {
  width: 100%;
}

.ds-button-group--align-stretch .ds-button-group__item > * {
  width: 100%;
}

/* Espacement */
.ds-button-group--spacing-small.ds-button-group--horizontal .ds-button-group__item:not(:first-child) {
  margin-left: 4px;
}

.ds-button-group--spacing-medium.ds-button-group--horizontal .ds-button-group__item:not(:first-child) {
  margin-left: 8px;
}

.ds-button-group--spacing-large.ds-button-group--horizontal .ds-button-group__item:not(:first-child) {
  margin-left: 16px;
}

.ds-button-group--spacing-small.ds-button-group--vertical .ds-button-group__item:not(:first-child) {
  margin-top: 4px;
}

.ds-button-group--spacing-medium.ds-button-group--vertical .ds-button-group__item:not(:first-child) {
  margin-top: 8px;
}

.ds-button-group--spacing-large.ds-button-group--vertical .ds-button-group__item:not(:first-child) {
  margin-top: 16px;
} 